<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

	<ldap:context-source id="ldapContextSource"
		password="${xdiamond.ldap.password}" url="${xdiamond.ldap.url}" username="${xdiamond.ldap.userDn}"
		base="${xdiamond.ldap.base}" />

	<ldap:ldap-template id="ldapTemplate"
		context-source-ref="ldapContextSource" />

</beans>
