<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<display-name>XDiamond Server</display-name>

	<!-- spring 配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>dev</param-value>
	</context-param>

	<listener>
		<listener-class>io.github.xdiamond.config.LogbackEnvListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>crash.mountpointconfig.conf</param-name>
		<param-value>war:/WEB-INF/crash/;classpath:/crash/</param-value>
	</context-param>
	<context-param>
		<param-name>crash.mountpointconfig.cmd</param-name>
		<!-- load base command from crash.shell.jar /crash/commands/base -->
		<param-value>war:/WEB-INF/crash/commands/;classpath:/crash/commands/</param-value>
	</context-param>
	<listener>
		<listener-class>org.crsh.plugin.WebPluginLifeCycle</listener-class>
	</listener>

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>default</servlet-name> -->
	<!-- <url-pattern>/scripts/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>default</servlet-name> -->
	<!-- <url-pattern>/bower_components/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Spring MVC Servlet -->
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
