<form role="form">
    <div class="form-group">
        <button class="btn btn-default" ng-click="popNewProjectModal('lg')">新建Project</button>
    </div>
</form>

<form role="form">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
        </div>
    </div>
</form>

<form role="form">
    <div class="form-group">
        <button class="btn btn-danger" ng-init="bShowProjectDeatil = true"
                ng-click="bShowProjectDeatil = !bShowProjectDeatil" ng-show="bShowProjectDeatil">
            + 修改/详细显示
        </button>
        <button class="btn btn-danger"
                ng-click="bShowProjectDeatil = !bShowProjectDeatil" ng-show="!bShowProjectDeatil">
            - 修改/精简显示
        </button>
    </div>
</form>

<table class="table table-striped">

    <thead>
    <tr>
        <th>groupId</th>
        <th>artifactId</th>
        <th>version</th>
        <th ng-hide="bShowProjectDeatil">description</th>
        <th ng-hide="bShowProjectDeatil">ownerGroup</th>
        <th ng-hide="bShowProjectDeatil">bPublic</th>
        <th ng-hide="bShowProjectDeatil">bAllowDependency</th>
    </tr>
    </thead>

    <tr ng-repeat="project in projects | filter:search | orderBy:['groupId', 'artifactId', 'version']">
        <td>{{project.groupId}}</td>
        <td>{{project.artifactId}}</td>
        <td>{{project.version}}</td>
        <td ng-hide="bShowProjectDeatil">{{project.description}}</td>
        <td ng-hide="bShowProjectDeatil">{{project.ownerGroupName}}</td>
        <td ng-hide="bShowProjectDeatil">{{project.bPublic}}</td>
        <td ng-hide="bShowProjectDeatil">{{project.bAllowDependency}}</td>

        <td><a ui-sref="projects.profiles.list({projectId:project.id})">查看profile</a></td>
        <td><a
                ui-sref="projects.dependencies.list({projectId:project.id})">查看Dependency</a></td>

        <td ng-hide="bShowProjectDeatil">
            <button class="btn btn-default" ng-click="popUpdateProjectModal(project)">修改
            </button>
        </td>
        <td ng-hide="bShowProjectDeatil">
            <button class="btn btn-danger danger" ng-really-message="删除Project: {{project.groupId}}/{{project.artifactId}}/{{project.version}} ?" ng-really-click="delete(project.id)">Delete</button>
        </td>

    </tr>
</table>