<button class="btn btn-default" ng-click="popNewProjectModal('lg')">新建Project</button>

<form role="form">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
        </div>
    </div>
</form>

<table class="table table-striped">

    <thead>
    <tr>
        <th>groupId</th>
        <th>artifactId</th>
        <th>version</th>
        <th>description</th>
        <th>ownerGroup</th>
        <th>bPublic</th>
        <th>bAllowDependency</th>
    </tr>
    </thead>

    <tr ng-repeat="project in projects | filter:search | orderBy:['groupId', 'artifactId', 'version']">
        <td>{{project.groupId}}</td>
        <td>{{project.artifactId}}</td>
        <td>{{project.version}}</td>
        <td>{{project.description}}</td>
        <td>{{project.ownerGroupName}}</td>
        <td>{{project.bPublic}}</td>
        <td>{{project.bAllowDependency}}</td>

        <td><a ui-sref="projects.profiles.list({projectId:project.id})">查看profile</a></td>
        <td><a ui-sref="projects.dependencies.list({projectId:project.id})">查看Dependency</a></td>

        <td>
            <button class="btn btn-default" ng-click="popUpdateProjectModal(project)">修改
            </button>
        </td>
        <td>
            <button class="btn btn-danger danger" ng-really-click="delete(project.id)">Delete</button>
        </td>

    </tr>
</table>