<h3>LDAP的组和用户</h3>
<form role="form">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
        </div>
    </div>
</form>

<div ng-repeat="ldapGroup in ldapGroups | filter:search | orderBy:'cn'">
    <a ng-click="show = !show" data-placement="left">
        <span ng-show="!show">展开</span>
        <span ng-show="show">收起</span>
    </a>
    <span class="text-primary">{{ ldapGroup.cn }}</span>
    <button class="btn btn-danger" ng-really-click="addGroupAndUser(ldapGroup)">同步组和用户到数据库中</button>
    <ul ng-repeat="ldapUser in ldapGroup.users" ng-show="show">
        <li>{{ ldapUser.cn }}</li>
    </ul>


</div>
