<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- product环境 -->
	<beans profile="product">
		<context:property-placeholder
			ignore-resource-not-found="true"
			location="classpath*:/config/application.base.properties,
          			  classpath*:/config/application.product.properties" />
	</beans>

	<!-- local dev环境 -->
	<beans profile="dev">
		<context:property-placeholder
			ignore-resource-not-found="true"
			location="classpath*:/config/application.base.properties,
          			  classpath*:/config/application.dev.properties" />
	</beans>

	<!-- test环境 -->
	<beans profile="test">
		<context:property-placeholder
			ignore-resource-not-found="true"
			location="classpath*:/config/application.base.properties,
          			  classpath*:/config/application.dev.properties" />
	</beans>
</beans>
